.login-logo a {
    color: #666666;
}
@media (max-width: 768px){
    .login-box, .register-box {
        width: 90%;
        margin-top: 150px;
    }
}
.login-box, .register-box {
    width: 360px;
    margin: 10% auto;
}
.login-copyright {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}
